.navbar img {
  max-width: 100%;
  
}

div img {
  width: 30%;
  height: auto;
  display: block;
  /* Asegura que la imagen sea un bloque para poder aplicar márgenes automáticos */
  margin: 0 auto;
}

a{
  color: #f0f3f4;


}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paragraph,
.form {
  width: 50%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: 'Eczar';
  /* Se agregó una fuente de respaldo */
}

.staff {

  margin: 0 20px;
  position: relative;
  float: left;
  margin-left: -50px;
  border-radius: 10px;
  border: 1px solid #000000;
  box-shadow: 7px 13px 37px #e48cff;
  margin-bottom: 50px;
  margin-top: 50px;
  font-family:'Eczar';
}



.staff p {
  margin-left: 20px;
  display: flex;
  justify-content: flex-start;
  font-size: 1.5em;
  font-size: 16px;
  font-family:'Eczar';
  

}


.staff2 {
  margin: 10px 0;
  position: relative;
  margin-right: -50px;
  margin-left: -50px;
  border-radius: 10px;
  vertical-align: top;
  font-family:'Eczar';
  
}



h1,
h2,
p {
  text-align: center;
  font-family: 'Eczar';
  color: #f0f3f4;
}

h3 {
  text-align: left;
  font-family:'Eczar';
}

.controls {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-size: 18px;
  color: black;
  box-sizing: border-box;
  font-family:'Eczar';
}

p {
  font-family: 'Eczar';
  color: #f0f3f4;
}

label {
  color: #f5f5f5;
  margin-bottom: 8px;
  font-family:'Eczar';
}

.btn {
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  padding: 10px 20px;
  margin: 0 auto;
  text-align: center;
  font-family:'Eczar';
}

.form-register {
  max-width: 400px;
  margin: auto;
  margin-top: 50px;
  /* Ajustado el margen superior */
  padding: 30px;
  background: #512da8;
  border-radius: 4px;
  box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}


.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

form {
  max-width: 400px;
  margin: auto;
  margin-top: 50px;
  /* Ajustado el margen superior */
  padding: 30px;
  background: #9575cd;
  border-radius: 4px;
  box-shadow: 7px 13px 37px #ffffff;
  font-family: 'Eczar', sans-serif;
}

.form-register a {
  color: #f0f3f4;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex: 1;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f8f8;
  /* Cambia el color de fondo según tu diseño */
}
